@import "../Variables.scss";

.IMGbg1 {
    background-image: url("../assets/images/emmanuel-WcrqKjgMPfI-unsplash.jpg");
    background-size: cover;
}

.IMGbg2 {
    background-image: url("../assets/images/constant-loubier-7lzIyp2Ork4-unsplash.jpg");
    background-size: cover;
}

.IMGbg3 {
    background-image: url("../assets/images/jodyhongfilms-sI1mbxJFFpU-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.bgOverlayBlack {
    background-color: rgba(0, 0, 0, 0.8);
}

.bgOverlayBlue {
    background-color: transparentize($color: $color_ycblue, $amount: 0.2);
}

@keyframes scrollIndicatorAnim {
    0% {
        padding: 16px;
        opacity: 0.2;
    }

    50% {
        padding: 24px 16px 8px 16px;
        opacity: 1;
    }

    100% {
        padding: 16px;
        opacity: 0.2;
    }
}

.sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 32px 16px;

    text-align: center;

    h2 {
        margin-bottom: 32px;
    }

    p {
        max-width: 44ch;
    }
}

.scrollIndicator {
    position: absolute;
    bottom: 32px;

    cursor: pointer;

    transition: $transition_time_link;

    i {
        padding: 16px;
        color: $color_white;
        animation: scrollIndicatorAnim 2s ease-in-out infinite;
    }

    &.hidden {
        opacity: 0;
    }
}

// Content wrapper for content inside elements
.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 64px 0;

    &.noTopMargin {
        margin: 0 0 64px 0;
    }

    p {
        margin: 0 0 32px 0;
        padding: 0 32px;

        text-align: center;
    }

    .imageContainer {
        height: 320px;
        width: 100%;

        max-width: 1280px;

        &.large {
            height: 640px;
        }

        picture img {
            height: 100%;
            width: 100%;

            object-fit: cover;
        }
    }

    .buttonContainer {
        .linkButton {
            margin: 16px;
        }
    }
}

// Wrapper for landing element
.landingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 100%;

    padding: 0 0 120px 0;
    min-height: 100vh;

    .landingContent {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 32px;

        h1 {
            margin: 0 0 16px 0;

            text-align: center;

            color: $color_white;
        }

        h3 {
            margin: 0 0 32px 0;
            text-align: center;
        }
    }
}

// Wrapper for hero element
.heroWrapper {
    width: 100%;

    // Inner content container for the hero
    .heroContainer {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 1fr;
        grid-template-rows: repeat(2, auto-fit);
        box-sizing: border-box;

        max-width: 1280px; // todo: consider increasing on 4K displays
        margin: 0 auto; // center the hero container
        padding: 0 16px 64px 16px; // 64px to cater for next hero image overlap

        &.noBottomPadding {
            padding: 0 16px;
        }
    }

    // -- Image alignments
    &.heroImageLeft {
        .heroImageWrapper {
            grid-area: 1 / 1 / 2 / 2;
        }

        .sectionHeader {
            grid-area: 1 / 2 / 2 / 3;
        }

        .contentWrapper {
            grid-area: 2 / 1 / 3 / 3;
        }
    }

    &.heroImageRight {
        .heroImageWrapper {
            grid-area: 1 / 2 / 2 / 3;
        }

        .sectionHeader {
            grid-area: 1 / 1 / 2 / 2;
        }

        .contentWrapper {
            grid-area: 2 / 1 / 3 / 3;
        }
    }

    &.heroNoImage {
        .sectionHeader {
            grid-area: 1 / 1 / 2 / 3;
        }

        .contentWrapper {
            grid-area: 2 / 1 / 3 / 3;
        }
    }
    // -- End of image alignments

    // Dark style
    &.heroDark {
        background-color: $color_black;

        h1,
        h2,
        h3 {
            color: lighten($color_ycblue, 32%);
        }
        p {
            color: $color_white;
        }
    }

    // Hero image container
    .heroImageWrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

        height: 320px;
        width: 100%;
        margin: -64px 0 0 0; // margin: 0; pins element edges to parent edges

        box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);

        transition: $transition_time_movement;

        picture {
            //? Cut off the bottom of the image if a button is displayed instead
            // DO NOT remove the next line. This took 20 minutes of my time to debug.
            overflow: hidden;

            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;

                object-fit: cover;
            }
        }

        .linkButton {
            a {
                width: 100%;

                box-shadow: none;

                transition: $transition_time_movement;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

// Outer wrapper for the section
.sectionWrapper {
    width: 100%;

    // Inner content container
    .sectionContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        box-sizing: border-box;

        max-width: 1280px; // todo: consider increasing on 4K displays
        margin: 0 auto; // center the hero container
        padding: 0 16px 0 16px;

        .contentWrapper p {
            margin: 32px 0;
        }

        .buttonContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

/* Other element styles */
ul.listGrid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(auto-fit 1fr);

    max-width: max-content; // shouldn't have to do this, but alas, I must.
    margin: 0 auto;

    li {
        box-sizing: border-box;

        padding: 8px 24px 8px 8px;
        border-bottom: 2px solid $color_grey;
        font-weight: bold;

        &:nth-last-child(-n + 2) {
            border-bottom: none; //![last row border] if @media query is updated, this should be double-checked
        }
    }
}

ul.flexRelevantUnits {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    .subjectTile {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 32px 16px;
        margin: 8px;
        max-width: 320px;

        text-align: center;

        color: white;

        &.fruGreen {
            background-color: $color_green;
        }

        &.fruLilac {
            background-color: $color_lilac;
        }

        &.fruOrange {
            background-color: $color_orange;
        }

        &.fruBlue {
            background-color: $color_blue;
        }

        &.fruBrown {
            background-color: $color_brown;
        }

        h4 {
            margin-bottom: 16px;
        }

        p {
            padding: 0 16px 0 16px;
            margin: 0;
        }

        .fruContainer {
            .fruInterest {
                position: relative;

                transition: $transition_time_link;
            }

            .fruUnits {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;

                opacity: 0;
                transform: scale(0.9);

                transition: $transition_time_link;
            }

            &:hover {
                .fruInterest {
                    opacity: 0;
                    transform: scale(1.1);
                }
                .fruUnits {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}

@media only screen and (max-width: $media_screen_max_width) {
    .contentWrapper {
        margin: 0 0 32px 0;

        &:before {
            display: inline-block;

            background-color: $color_grey_dark;

            height: 2px;
            width: 32px;

            margin: 0 auto;
        }
    }
    .heroWrapper {
        &.heroImageLeft,
        &.heroImageRight {
            .heroImageWrapper {
                grid-area: 1 / 1 / 2 / 2;
            }

            .sectionHeader {
                grid-area: 2 / 1 / 3 / 2;
            }

            .contentWrapper {
                grid-area: 3 / 1 / 4 / 2;
            }
        }

        .heroContainer {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto-fit);
        }

        ul.listGrid {
            grid-template-columns: 1fr;

            li {
                border-bottom: none;
                border-left: 2px solid $color_grey;
            }
        }
    }
}
