@import "../Variables.scss";

.carousel .carousel {
    max-width: 100%;

    .carousel-status {
        // display: none; does NOTHING here, which is fantastic.
        opacity: 0;
    }

    .control-arrow::before {
        margin: 0 24px;
    }

    .control-dots .dot {
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);

        border-radius: 0;

        &.selected {
            background-color: $color_ycblue;
        }
    }

    .slide {
        height: 100%;

        p {
            display: none;
        }

        img {
            height: 100%;

            object-fit: cover;
        }
    }
}
