@import "../Variables.scss";

.carousel {
    position: relative;
    height: 100%;
    width: 100%;

    overflow: hidden;

    transition: $transition_time_movement;

    .nav {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        z-index: 2;

        bottom: 0;
        left: 0;

        width: 100%;

        transition: $transition_time_movement;

        a {
            margin: 8px 8px 0 8px;
            padding: 0 16px;

            height: 8px;

            b {
                opacity: 0;
            }

            font-weight: bold;

            color: $color_white;

            background-color: transparentize($color_ycblue, 0.2);

            transition: $transition_time_link;

            &:hover {
                background-color: $color_ycblue;
            }
        }
    }

    &:hover .nav {
        bottom: 16px;

        a {
            height: auto;
            margin: 8px;
            padding: 12px 16px; // causes page to jump if user scrolled within carousel
        }

        b {
            opacity: 1;
        }
    }

    .slides {
        display: flex;

        height: 100%;
        width: 100%;

        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;

        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

        &::-webkit-scrollbar {
            display: none;
        }

        transition: $transition_time_link;

        &:hover {
            scrollbar-color: $color_ycblue transparent;
        }

        div {
            position: relative;
            flex-shrink: 0;

            width: 100%;
            height: 100%;

            background: #000000;

            scroll-snap-align: start;

            // transform-origin: center center;
            // transform: scale(1);

            // transition: transform $transition_time_movement;

            * {
                pointer-events: none;
                user-select: none;
            }

            .caption {
                position: absolute;
                max-width: calc(100% - 32px);
                height: min-content;
                padding: 16px;

                text-align: center;

                color: $color_white;
                background: transparentize($color_ycblue, 0.2);

                transition: $transition_time_movement;
            }

            picture {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}
