$color_foreground: #191919;
$color_background: #fafafa;

$color_white: #FAFAFA;
$color_black: #191919;
$color_grey: #DADADA;
$color_grey_dark: rgb(116, 117, 136);
$color_ycblue: #21447C;
$color_purple: #736EAB;
$color_teal: #27C9A2;

$color_green: #56D763;
$color_lilac: #A952D1;
$color_orange: #EC712C;
$color_blue: #5F6DEB;
$color_brown: #BE4E1E;

$transition_time_link: .14s;

$fonts_heading: "Fugaz One", "Roboto", "Open Sans", sans-serif;
$fonts_body: "Nunito", "Roboto", "Open Sans", sans-serif;

$box_shadow_light: 0 4px 8px rgba(0,0,0,0.2);

$media_screen_max_width: 640px;