$color_foreground: #191919;
$color_background: #fafafa;

$color_white: #fafafa;
$color_black: #191919;
$color_grey: #dadada;
$color_grey_dark: #84858f;
$color_ycblue: #21447c;
$color_purple: #736eab;
$color_teal: #27c9a2;

// All colours below pass WCAG AAA contrast standards against #191919
$color_green: #77df81;
$color_lilac: #dd85ef;
$color_orange: #f9816c;
$color_blue: #7ba5ea;
$color_grey2: #abb4c4;

$transition_time_link: 0.14s;
$transition_time_movement: 0.19s;

$fonts_heading: "Fugaz One", "Roboto", "Open Sans", sans-serif;
$fonts_body: "Nunito", "Roboto", "Open Sans", sans-serif;

$box_shadow_light: 0 4px 8px rgba(0, 0, 0, 0.2);

$media_screen_max_width: 640px;
